<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealDishMapper">
    <!--批量插入菜品-->
    <insert id="insertBatch">
        insert into setmeal_dish (setmeal_id, dish_id, name,price, copies)
        values
        <foreach collection="setmealDishes" item="setmealDish" separator=",">
            (#{setmealDish.setmealId}, #{setmealDish.dishId}, #{setmealDish.name}, #{setmealDish.price}, #{setmealDish.copies})
        </foreach>
    </insert>
    <!--批量删除套餐中关联的菜品数据-->
    <delete id="deleteBySetmealIds">
        delete from setmeal_dish where setmeal_id in
        <foreach collection="setmealIds" item="setmealId" separator="," open="(" close=")">
            #{setmealId}
        </foreach>
    </delete>
    <!--根据菜品ID查询套餐ID-->
    <select id="getSetmealIdsByDishIds" resultType="java.lang.Long">
        select setmeal_id from setmeal_dish where dish_id in
        <foreach collection="dishIds" item="dishId" separator="," open="(" close=")">
            #{dishId}
        </foreach>
    </select>
    <!--根据套餐ID查询关联的菜品数据-->
    <select id="getBySetmealId" resultType="com.sky.entity.SetmealDish">
        select * from setmeal_dish where setmeal_id = #{setmealId}
    </select>
</mapper>
